<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <head><title>Скачивание файла</title></head>
    <body>
        <div id="title">YourFile</div><br>
        <button id="download" style="font-size: 75px;">Скачать {{ fileName }}</button>
    </body>
    <script>
        document.getElementById("download").addEventListener("click", async () => {
                    const response = await fetch(`/removeFile/${pack[i].uid}`, {
                    method: "GET",
                    credentials: "include"
                }
            )
        })
    </script>
</html>