<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <head><title>Главная страница</title></head>
    <body>
        <div id="title">YourFile</div>
        <div id="uploading">
            <label>Выберите файл для загрузки:</label><br>
            <input type="file" id="file"><br>
            <button id="load">Загрузить</button><br><br>
        </div>
        <table id="file">
            <tr>
                <th>Файл1</th>
                <th><button id="fbuttton">Удалить</button></th>
            </tr>
            <tr>
                <th>Файл2</th>
                <th><button id="fbuttton">Удалить</button></th>
            </tr>
            <tr>
                <th>Файл3</th>
                <th><button id="fbuttton">Удалить</button></th>
            </tr>
        </table>
    </body>
    <script>
        
    </script>
</html>